<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>Echarts Example</title>
	</head>
	<body style="background-image: url('../img/true.png');">
		<div id="main" style="width: 1000px;height: 800px;left: 150px;position: relative;">
		<script src="../js/echarts.min.js"></script>
		<script type="text/javascript">
			// 随机生成数据
			function generateData(cats) {
				const random = (min, max) => Math.round(Math.random() * (max - min) + min);
				const series = [
					{ name: '喜剧', type: 'effectScatter' },
					{ name: '科幻', type: 'scatter' },
					{ name: '剧情', type: 'scatter' },
					{ name: '动画', type: 'scatter' },
				];
				
				return series.map((serie) => ({
					...serie,
					data: cats.map((cat) => [cat, random(100, 10000)]),
				}));
			}
			const myChart = echarts.init(document.getElementById('main'));
			const cats = ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'];
			const series = generateData(cats);
			var option = {
				xAxis: { type: 'category', data: cats },
				yAxis: { type: 'value' },
				series: series,
				legend: { data: series.map((s) => s.name) },
				
			};
			myChart.setOption(option);
			
		</script>
	</body>
</html>